USE KN_online
GO
IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID('[dbo].[K_NPCPOS]') AND OBJECTPROPERTY(ID, 'ISUSERTABLE') = 1)
DROP TABLE [dbo].[K_NPCPOS]
GO
/*+This also fixes +monsummon command
Note : This messes some summons like bifrost , it will be fixed later*/
--can_snoxd 2023
/****** Object:  Table [dbo].[K_NPCPOS]    Script Date: 01/24/2023 23:19:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
CREATE TABLE [dbo].[K_NPCPOS](
	[ZoneID] [smallint] NULL,
	[NpcID] [int] NULL,
	[ActType] [tinyint] NULL,
	[RegenType] [tinyint] NULL,
	[DungeonFamily] [tinyint] NULL,
	[SpecialType] [tinyint] NULL,
	[TrapNumber] [tinyint] NULL,
	[LeftX] [int] NULL,
	[TopZ] [int] NULL,
	[RightX] [int] NULL,
	[BottomZ] [int] NULL,
	[LimitMinZ] [int] NULL,
	[LimitMinX] [int] NULL,
	[LimitMaxX] [int] NULL,
	[LimitMaxZ] [int] NULL,
	[NumNPC] [tinyint] NULL,
	[RegTime] [smallint] NULL,
	[byDirection] [int] NULL,
	[DotCnt] [tinyint] NULL,
	[path] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[K_NPCPOS] ([ZoneID], [NpcID], [ActType], [RegenType], [DungeonFamily], [SpecialType], [TrapNumber], [LeftX], [TopZ], [RightX], [BottomZ], [LimitMinZ], [LimitMinX], [LimitMaxX], [LimitMaxZ], [NumNPC], [RegTime], [byDirection], [DotCnt], [path]) VALUES (1, 552, 1, 0, 0, 0, 0, 578, 1473, 605, 1448, 577, 1473, 606, 1446, 5, 30, 0, 0, NULL)
INSERT [dbo].[K_NPCPOS] ([ZoneID], [NpcID], [ActType], [RegenType], [DungeonFamily], [SpecialType], [TrapNumber], [LeftX], [TopZ], [RightX], [BottomZ], [LimitMinZ], [LimitMinX], [LimitMaxX], [LimitMaxZ], [NumNPC], [RegTime], [byDirection], [DotCnt], [path]) VALUES (1, 552, 1, 0, 0, 0, 0, 666, 1617, 697, 1590, 665, 1620, 698, 1587, 5, 30, 0, 0, NULL)
INSERT [dbo].[K_NPCPOS] ([ZoneID], [NpcID], [ActType], [RegenType], [DungeonFamily], [SpecialType], [TrapNumber], [LeftX], [TopZ], [RightX], [BottomZ], [LimitMinZ], [LimitMinX], [LimitMaxX], [LimitMaxZ], [NumNPC], [RegTime], [byDirection], [DotCnt], [path]) VALUES (1, 650, 1, 0, 0, 0, 0, 449, 892, 476, 876, 445, 894, 480, 874, 5, 30, 0, 0, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
