USE KN_online
/* Version/Launcher Fix 1.298
VersionTable = "1" must be 0 in login-server.conf settings
Can_SnoxD */
GO
/****** Object:  Table [dbo].[VERSION]    Script Date: 08/18/2022 15:36:44 ******/
SET NOCOUNT ON
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
DROP TABLE VERSION
GO
Print 'Table Procedure Fixed'
CREATE TABLE [dbo].[VERSION](
	[version] [smallint] NULL,
	[filename] [varchar](50) NULL,
	[compname] [varchar](50) NULL,
	[hisversion] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
Print 'Table Data Fixed'
INSERT [dbo].[VERSION] ([version], [filename], [compname], [hisversion]) VALUES (1298,'1298.zip','1298.zip',1297)
Print 'DONE'
